[branch]
	sort = -committerdate
[core]
	autocrlf = false
	editor = code --wait
	pager = less -F -X
[init]
  defaultBranch = master
[log]
	date = local
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true
[user]
	name = samsolichin
	email = samsolichin01@gmail.com
